<div class="card" >
    <img class="card-img-top" src="/assets/img/meme2.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">About me</h5>
        <p class="card-text">I am thanh. I sit beside the fire. I love my mother besides my fathe. I work at my company everyday except Sundays.</p>
    </div>
</div>
