@model PostVM

@{
    ViewData["Title"] = "Update Post";
}

<h1>@Model.Title</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <textarea asp-for="ShortDescription" class="form-control" rows="3"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger" ></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PostContent" class="control-label"></label>
                <textarea asp-for="PostContent" class="form-control" rows="3"></textarea>
                <span asp-validation-for="PostContent" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="PostContent"></label>
                    <div>
                        <textarea asp-for="PostContent" class="form-control"></textarea>
                        <span asp-validation-for="PostContent" class="text-danger"></span>
                    </div>
                </div>
            </div>

          
            <div class="form-group">
                <label asp-for="PostedOn" class="control-label"></label>
                <input asp-for="PostedOn" class="form-control" />
                <span asp-validation-for="PostedOn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                @Html.DropDownListFor(u => u.Published, new SelectList(Model.PublishedList, "Value", "Text"), 
                new { @class = "form-control" })

                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                @Html.DropDownListFor(u => u.CategoryId, new SelectList(Model.CategoryList, "Value", "Text"), 
                new { @class = "form-control" })
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            @*<input type="hidden" asp-for="PostedOn"/>*@
            <input type="hidden" asp-for="UrlSlug" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea#PostContent',
        });
    </script>
}